:root {
    --editor-border-color: var(--p-surface-500);;
    --editor-tooltip-error: darkred;
}

:root {
    --editor-canvas-background: #eee;
    --editor-statusbar-background: #ececec;
}

:root {
    --editor-compartment-fill: #ccc;
    --editor-membrane-colour: brown;
    --editor-membrane-gap: 4;
    --editor-membrane-radius: 40;
    --editor-membrane-width: 2;
}

.celldl-dark-mode {
    --editor-canvas-background: var(--p-surface-800);
    --editor-statusbar-background: var(--p-surface-700);
}

#svg-container svg {
    background-color: var(--editor-canvas-background);
    user-select: none;
    /* Element states while editing */
    --active: #0f8;
    --highlighted: #58f8;
    --selected: #0df;
    --active-selected: #0ff;
    --connection-selected: #f00;
    --connection-highlighted: #0f8;
}
#svg-container .celldl-background {
    pointer-events: none;
}
#svg-container .selection-element {
    fill: none;
    pointer-events: all;
    stroke-opacity: 0.8;
    stroke-width: 3;
    rx: 8px;
}
#svg-container .control-rectangle.selected {
    fill: #f00;
    opacity: 0.4;
    stroke: #f0f;
    stroke-width: 3;
    pointer-events: all;
}

/* Alignment guides */
#svg-container .alignment-grid {
    stroke: #08f;
    stroke-width: 0.4;
    stroke-opacity: 0.3;
}
#svg-container .alignment-guide {
    stroke: none;
}
#svg-container .alignment-guide.visible {
    stroke: #08f;
    stroke-width: 1;
    stroke-opacity: 0.8;
}

/* Control points */
#svg-container .control-point {
    fill: #00c;
    opacity: 0.8;
    stroke: #00c;
    stroke-width: 2;
}
#svg-container .control-point.fixed {
    fill: white;
}
#celldl-editor-selection-frame.highlight .control-point {
    stroke: #00f;
}
#celldl-editor-selection-frame.highlight .control-point.active {
    fill: #88f;
    opacity: 1;
}

/* Active, highlighted, and selected objects */
#svg-container .active:not(.celldl-Connection) {
    stroke: var(--active) !important;
}
#svg-container .selected:not(.celldl-Connection) {
    stroke: var(--selected) !important;
}
#svg-container .highlight:not(.celldl-Connection) {
    stroke: var(--highlighted) !important;
}
#svg-container .active.selected:not(.celldl-Connection) {
    stroke: var(--active-selected) !important;
}
#svg-container .selection-rect {
    fill: #ccc;
    fill-opacity: 0.2;
    stroke: var(--p-surface-0);
    stroke-width: 0.3;
}
#svg-container .selection-rect-outer {
    fill: none;
    stroke: var(--editor-membrane-colour);
    stroke-width: var(--editor-membrane-width);
    rx: calc(var(--editor-membrane-radius) + var(--editor-membrane-gap)/2)
}
#svg-container .selection-rect-inner {
    fill: var(--editor-compartment-fill);
    stroke: var(--editor-membrane-colour);
    stroke-width: var(--editor-membrane-width);
    rx: calc(var(--editor-membrane-radius) - var(--editor-membrane-gap)/2) /* See DOUBLE_BOUNDARY_OFFSET */
}

/* Components */
#svg-container .celldl-Component.editor {
    pointer-events: all;
}

/* Conduits */
#svg-container .selection-element.conduit {
    opacity: 0.5;
}
#svg-container .active + .conduit {
    fill: var(--active);
}
#svg-container .highlight + .conduit {
    fill: var(--highlighted);
}
#svg-container .active.selected + .conduit {
    fill: var(--active-selected) !important;
}

/* Interfaces */
#svg-container .celldl-InterfacePort .selection-element.selected {
    stroke: var(--connection-selected);
}
#svg-container .celldl-InterfacePort.highlight {
    fill: var(--highlighted) !important;
}

/* Connections */
#svg-container .celldl-Connection .selection-element.highlight {
    stroke: var(--connection-highlighted) !important; /* versus highlighted?? */
}
#svg-container .shadow {
    fill: none;
    stroke: #ccc;
    stroke-width: 8;
    opacity: 0.001;
}
#svg-container .shadow.active {
    stroke: var(--active);
    opacity: 0.4;
}
#svg-container .shadow.active.selected {
    stroke: var(--active-selected);
    opacity: 0.4;
}
#svg-container .shadow.highlight {
    stroke: var(--highlighted);
    opacity: 0.4;
}
#svg-container .shadow.selected {
    stroke: var(--selected);
    opacity: 0.4;
}

.error {
    color: yellow;
    opacity: 1;
    stroke: yellow;
    stroke-opacity: 1;
}

.tooltip-error > .tippy-box {
    background-color: var(--editor-tooltip-error);
}
.tooltip-error > .tippy-box > .tippy-arrow {
    color: var(--editor-tooltip-error);
}
